<ion-header>
  <ion-navbar>
    <ion-title>
      Calculator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="coinData; else noData">
    <ion-row>
      <ion-col>
        <ion-item-group>
          <ion-item-divider color="dark">Currency</ion-item-divider>
          <ion-row>
            <ion-col col-6>
              <ion-select
                [(ngModel)]="coinName"
                (ngModelChange)="selectCoin()">
                <ion-option *ngFor="let coin of rest.coinData">{{coin.name}}</ion-option>
              </ion-select>
            </ion-col>
            <!-- <ion-col col-6>
              <ion-select>
                <ion-option>USD</ion-option>
                <ion-option>CAD</ion-option>
              </ion-select>
            </ion-col> -->
          </ion-row>
        </ion-item-group>
      </ion-col>
    </ion-row>
    <page-coin-info
      [coinData]="coinData"
      [currency]="rest.currency">
    </page-coin-info>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>Amount ({{coinData.symbol}})</ion-label>
          <ion-input
            type="number"
            min="0"
            [(ngModel)]="coinAmount"
            (ngModelChange)="calcDollar()">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>Amount (CAD)</ion-label>
          <ion-input
            type="number"
            min="0"
            [(ngModel)]="dollarAmount"
            (ngModelChange)="calcCoin()">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #noData>Unable to load data :(</ng-template>
</ion-content>
